:root {
    /* Light theme colors */
    --background-color: #f5f5f7;
    --text-color: #333;
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --border-color: #dee2e6;
    --link-color: #007bff;
    --visited-link-color: #551a8b;

    /* Dark theme colors */
    --dark-background-color: #343a40;
    --dark-text-color: #f8f9fa;
    --dark-primary-color: #007bff;
    --dark-secondary-color: #6c757d;
    --dark-border-color: #495057;
    --dark-link-color: #1e90ff;
    --dark-visited-link-color: #9370db;
}

[data-theme="dark"] {
    --background-color: var(--dark-background-color);
    --text-color: var(--dark-text-color);
    --primary-color: var(--dark-primary-color);
    --secondary-color: var(--dark-secondary-color);
    --border-color: var(--dark-border-color);
    --link-color: var(--dark-link-color);
    --visited-link-color: var(--dark-visited-link-color);
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;

    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1920px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

a:link {
  color: var(--link-color);
  text-decoration: none;
}

a:visited {
  color: var(--visited-link-color);
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

/*
header img {
}
*/

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

.footer {
  text-align: center;
  margin-bottom: 40px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-size: 10px;
}

footer nav ul {
  list-style: none;
  padding: 0;
}

footer nav ul li {
  display: inline;
  margin-right: 10px;
}

.user-info p, .user-info a {
    display: inline;
    margin-left: 10px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

button {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 1em;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: darken(var(--primary-color), 30%);
}

.site {
    background-color: var(--secondary-color);
    color: var(--dark-text-color);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#sites-list {
  margin-top: 20px;
}

@media (prefers-color-scheme: dark) {
    body[data-theme="auto"] {
        --background-color: var(--dark-background-color);
        --text-color: var(--dark-text-color);
        --primary-color: var(--dark-primary-color);
        --secondary-color: var(--dark-secondary-color);
        --border-color: var(--dark-border-color);
    }
}

@media (max-width: 1920px) {
    .container {
        margin: 10px;
        padding: 10px;
    }
}

/* Dark Mode Switch */
.theme-switcher {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.theme-switcher input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-button {
  width: 120px;
  height: 30px;
}